@model IEnumerable<Mini_Mundo.Models.Venda>

@{
    ViewData["Title"] = "Vendas";
}

<h1>Histórico de Vendas</h1>

<p>
    <a asp-action="Create">Gerar nova venda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VendaID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.VendaID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
