@model IEnumerable<Mini_Mundo.Models.Venda>

@{
    ViewData["Title"] = "Vendas";
}

<h1 class="mb-4">Histórico de Vendas</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success"><i class="bi bi-plus-lg"></i>  Gerar nova Venda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteID)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-sm btn-warning mb-2" asp-route-id="@item.VendaID"><i class="bi bi-pencil-fill"></i>  Editar</a>
                    <a asp-action="Details" class="btn btn-sm btn-primary mb-2" asp-route-id="@item.VendaID"><i class="bi bi-list"></i>  Detalhes</a>
                    <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.VendaID"><i class="bi bi-trash-fill"></i>  Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
