@model IEnumerable<Mini_Mundo.Models.Cargo>

@{
    ViewData["Title"] = "Cargos";
}

<h1>Lista de Cargos</h1>

<p>
    <a asp-action="Create">Cadastrar novo Cargo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CargoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioMaximo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CargoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioMaximo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CargoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CargoID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CargoID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
