@model IEnumerable<Mini_Mundo.Models.Funcionario>

@{
    ViewData["Title"] = "Funcionários";
}

<h1 class="mb-4">Lista de Funcionários</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success"><i class="bi bi-plus-lg"></i>  Cadastrar novo Funcionário</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimeiroNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelDeAcessoID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrimeiroNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelDeAcessoID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuncionarioID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FuncionarioID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.FuncionarioID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
