@model IEnumerable<Mini_Mundo.Models.Login>

@{
    ViewData["Title"] = "Logins";
}

<h1 class="mb-4">Logins</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success"><i class="bi bi-plus-lg"></i>  Criar novo Login</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelDeAcessoID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelDeAcessoID)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@item.LoginID"><i class="bi bi-pencil-fill"></i>  Editar</a>
                    <a asp-action="Details" class="btn btn-sm btn-primary" asp-route-id="@item.LoginID"><i class="bi bi-list"></i>  Detalhes</a>
                    <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.LoginID"><i class="bi bi-trash-fill"></i>  Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
